[user]
	name = peterlind
	email = peter@lind.be
[core]
	excludesfile = ~/.gitignore.global
[alias]
        co = checkout
        stat = status
        st = status
        ci = commit
        df = !git diff | colordiff
        lg = !git log | vim -
        history = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        unpushed = !"PROJ_BRANCH=$(git symbolic-ref HEAD | sed 's|refs/heads/||') && git log origin/$PROJ_BRANCH..HEAD"
        unpulled = !"PROJ_BRANCH=$(git symbolic-ref HEAD | sed 's|refs/heads/||') && git fetch && git log HEAD..origin/$PROJ_BRANCH"

