[user]
	name = peterlind
	email = peter@lind.be
[core]
	excludesfile = ~/.gitignore.global
[alias]
        co = checkout
        stat = status
        st = status
        ci = commit
        df = !git diff | colordiff
        lg = !git log | vim -
        history = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

